/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.book-mini {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  background-color: #fff;
  max-width: 200px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
}

.book-mini:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.book-mini img {
  width: 100%;
  max-width: 150px;
  width: 150px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
}

div.book-mini h2 {
  font-size: 1.2rem;
  margin-top: 0;
  color: #333;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

.details-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-button::before {
  content: "🔍";
  margin-right: 8px;
  transition: transform 0.3s;
}

.details-button:hover {
  background-color: #218838;
  transform: scale(1.01);
}

.details-button:hover::before {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .book-mini {
    max-width: 200px;
    padding: 16px;
    height: 350px;
  }

  .book-mini img {
    max-width: 150px;
  }

  div.book-mini h2 {
    font-size: 1rem;
  }

  .details-button {
    padding: 9px 18px;
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .book-mini {
    max-width: 120px;
    padding: 8px;
    height: 250px;
  }

  .book-mini img {
    max-width: 100px;
  }

  div.book-mini h2 {
    font-size: 0.8rem;
  }

  .details-button {
    padding: 7px 12px;
    font-size: 0.6rem;
  }
}
